body{

    background-color: #031c34;
    
}

h1{

    color: whitesmoke;
    border : 4px solid #fff;
    padding : 50px;
    margin : 50px 300px 50px 300px;
}

h2{

    color: #ff00c0;
    font-family: 'Gloria Hallelujah', cursive;
}

header{

    margin-top : 50px;
    text-align: center;

}
.contenu{

    display: grid;
    grid-template-columns: 1fr, 1fr;
    grid-gap: 0px;
}
.licorn{

    grid-column-start: 1;
    grid-column-end: 1;
}

.licorn:hover {
	transform:rotate(-30deg);
	-ms-transform:rotate(-30deg);
  -webkit-transform:rotate(-30deg);
}
.licorn:active {
    animation: rotateAnim 10s linear infinite;
}
@keyframes rotateAnim {
    from {transform: rotateY(0);}
    to {transform: rotateY(360deg);}
}
.texte{

    grid-column-start: 2;
    grid-column-end: 2;
    color: #ff00c0;
    font-family: 'Gloria Hallelujah', cursive;
}